<!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/13.gif") %> data-lightbox="set" data-title="Yamato Kashihara jingū (Kashihara Shrine, Yamato) 大和橿原神宮">
                    <%= image_tag("prints/13.gif", :class => "img-responsive") %>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/14.gif") %> data-lightbox="set" data-title="Atsuta jingū (Atsuta Shrine) 熱田神宮">
                    <%= image_tag("prints/14.gif", :class => "img-responsive") %>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/15.gif") %> data-lightbox="set" data-title="Sesshū Sumiyoshi jingū (Sumiyoshi Shrine, Sesshū)　摂州住吉神社">
                    <%= image_tag("prints/15.gif", :class => "img-responsive") %>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/16.gif") %> data-lightbox="set" data-title="Nara no yoru (Nara at Night)　奈良の夜">
                    <%= image_tag("prints/16.gif", :class => "img-responsive") %>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/17.gif") %> data-lightbox="set" data-title="Yamato Hōryūji (Hōryūji Temple in Yamato) 大和法隆寺">
                    <%= image_tag("prints/17.gif", :class => "img-responsive") %>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/18.gif") %> data-lightbox="set" data-title="Nara Kasuga jingū mantōrō zu (Image of Kasuga Shrine Ten Thousand Lanterns, Nara)　奈良春日神宮万燈籠の図">
                    <%= image_tag("prints/18.gif", :class => "img-responsive") %>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/19.gif") %> data-lightbox="set" data-title="Usa jingū (Usa Shrine)　宇佐神宮">
                    <%= image_tag("prints/19.gif", :class => "img-responsive") %>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/20.gif") %> data-lightbox="set" data-title="Kyoto Heian jingū (Heian Shrine, Kyoto)　京都平安神宮">
                    <%= image_tag("prints/20.gif", :class => "img-responsive") %>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/21.gif") %> data-lightbox="set" data-title="Kishū Kōyasan (Mt. Kōya, Kishū) 紀州高野山">
                    <%= image_tag("prints/21.gif", :class => "img-responsive") %>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/22.gif") %> data-lightbox="set" data-title="Chikushi Dazaifu Tenmangū (Dazaifu Tenmangū Shrine in Chikushi)　筑紫太宰府天満宮">
                    <%= image_tag("prints/22.gif", :class => "img-responsive") %>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/23.gif") %> data-lightbox="set" data-title="Aki Miyajima (Miyajima, Aki) 安藝宮島">
                    <%= image_tag("prints/23.gif", :class => "img-responsive") %>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href= <%= image_path("prints/24.gif") %> data-lightbox="set" data-title="Sōshū Tsurugaoka Hachimangū (Tsurugaoka Hachimangū Shrine, Sōshū) 相州鶴岡八幡宮">
                    <%= image_tag("prints/24.gif", :class => "img-responsive") %>
                </a>
            </div>
        </div>
        <!-- /.row -->