<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/25.gif") %> data-lightbox="set" data-title="Sōshū Kamakura daibutsu (Great Buddha of Kamakura, Sōshū) 相州鎌倉大仏">
            <%= image_tag("prints/25.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/26.gif") %> data-lightbox="set" data-title="Chikuzen Hakozaki Hachimangū (Hakozaki Hachiman Shrine, Chikuzen) 筑前箱崎八幡宮">
            <%= image_tag("prints/26.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/27.gif") %> data-lightbox="set" data-title="Kyoto Kinkakuji (Kinkakuji, Kyoto)　京都金閣寺">
            <%= image_tag("prints/27.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/28.gif") %> data-lightbox="set" data-title="Yamashiro Kasagiyama (Kasagiyama, Yamashiro)　山城笠置山">
            <%= image_tag("prints/28.gif", :class => "img-responsive") %>
        </a>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/29.gif") %> data-lightbox="set" data-title="Yamato Yoshinoyama (Yoshino Mountain, Yamato)　大和吉野山">
            <%= image_tag("prints/29.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/30.gif") %> data-lightbox="set" data-title="Inshū Nawa jingū (Nawa Shrine, Inshū)　因州名和神社">
            <%= image_tag("prints/30.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/31.gif") %> data-lightbox="set" data-title="Sōshū Kamakuragu (Kamakura Shrine, Sōshū)　相州鎌倉宮">
            <%= image_tag("prints/31.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/32.gif") %> data-lightbox="set" data-title="Yamato Shigisan (Mt. Shigi in Yamato) 大和信貴山">
            <%= image_tag("prints/32.gif", :class => "img-responsive") %>
        </a>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/33.gif") %> data-lightbox="set" data-title="Kawachi Kanshinji (Kanshin Temple, Kawachi)	河内歓心寺">
            <%= image_tag("prints/33.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/34.gif") %> data-lightbox="set" data-title="Hyōgo Minatogawa jingū (Minatogawa Shrine, Hyōgo)　兵庫湊川神社">
            <%= image_tag("prints/34.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/35.gif") %> data-lightbox="set" data-title="Sōshū Odawara jōshi (Remains of Odawara Castle, Sōshū)　相州小田原城趾">
            <%= image_tag("prints/35.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/36.gif") %> data-lightbox="set" data-title="Osaka-jo no zu (View of Osaka Castle)　大阪城の図">
            <%= image_tag("prints/36.gif", :class => "img-responsive") %>
        </a>
    </div>
</div>
<!-- /.row -->