<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/37.gif") %> data-lightbox="set" data-title="Kyoto Kiyomizudera (Kiyomizudera, Kyoto)　京都清水寺">
            <%= image_tag("prints/37.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/38.gif") %> data-lightbox="set" data-title="Nagoya jō (Nagoya Castle)　名古屋城">
            <%= image_tag("prints/38.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/39.gif") %> data-lightbox="set" data-title="Shimotsuke Nikkō Tōshōgū (Nikkō Tōshōgū Shrine, Shimotsuke)　下野日光東照宮">
            <%= image_tag("prints/39.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/40.gif") %> data-lightbox="set" data-title="Inshū Matsue jo (Matsue Castle, Inshū)　因州松江城">
            <%= image_tag("prints/40.gif", :class => "img-responsive") %>
        </a>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/41.gif") %> data-lightbox="set" data-title="Suō Kintaikyō (Kintaikyō, Suō)　周防錦帯橋">
            <%= image_tag("prints/41.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/42.gif") %> data-lightbox="set" data-title="Ōmi Katata Ukimidō (Floating Temple of Katata, Ōmi)　近江堅田浮御堂">
            <%= image_tag("prints/42.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/43.gif") %> data-lightbox="set" data-title="Banshū Akō Ōishi Yoshi kyūtaku (Former Residence of Ōishi Yoshio in Akō, Banshū)　播州赤穂大石良雄旧宅">
            <%= image_tag("prints/43.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/44.gif") %> data-lightbox="set" data-title="Kyōto gosho (Kyoto Imperial Palace)　京都御所">
            <%= image_tag("prints/44.gif", :class => "img-responsive") %>
        </a>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/45.gif") %> data-lightbox="set" data-title="Higo Kumamoto jō (Kumamoto Castle, Higo)　肥後鵜熊本城">
            <%= image_tag("prints/45.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/46.gif") %> data-lightbox="set" data-title="Kagoshima Shiroyama (Shiroyama, Kagoshima)　城山鹿児島">
            <%= image_tag("prints/46.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/47.gif") %> data-lightbox="set" data-title="Hiroshima Daihon’ei (Hiroshima Headquarters)　広島大本営">
            <%= image_tag("prints/47.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/48.gif") %> data-lightbox="set" data-title="Meiji jingū (Meiji Shrine)　明治神宮">
            <%= image_tag("prints/48.gif", :class => "img-responsive") %>
        </a>
    </div>
</div>
<!-- /.row -->