<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/1.gif") %> data-lightbox="set" data-title="Ise Ujbashi no zu (Image of Ujibashi, Ise)  伊勢宇治橋の図">
            <%= image_tag("prints/1.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/2.gif") %> data-lightbox="set" data-title="Ise Futami ura (Futami Bay, Ise)　伊勢二見浦">
            <%= image_tag("prints/2.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/3.gif") %> data-lightbox="set" data-title="Hyūga Takachiho mine (Takachiho Ridge, Hyūga)　日向高千穂峯">
            <%= image_tag("prints/3.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/4.gif") %> data-lightbox="set" data-title="Izumo taisha (Izumo Grand Shrine)　出雲大社">
            <%= image_tag("prints/4.gif", :class => "img-responsive") %>
        </a>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/5.gif") %> data-lightbox="set" data-title="Kirishima jingū (Kirishima Shrine)　霧島神宮">
            <%= image_tag("prints/5.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/6.gif") %> data-lightbox="set" data-title="Takachihō kyō Manai taki (Manai Falls, Takachiho Gorge) 高千穂峡真名井瀧">
            <%= image_tag("prints/6.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/7.gif") %> data-lightbox="set" data-title="Udo jingū (Udo Shrine) 鵜戸神宮">
            <%= image_tag("prints/7.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/8.gif") %> data-lightbox="set" data-title="Higo Aso jinja (Aso Shrine, Higo)　肥後阿蘇神社">
            <%= image_tag("prints/8.gif", :class => "img-responsive") %>
        </a>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/9.gif") %> data-lightbox="set" data-title="Hyūga Miyazaki jingū (Miyazaki Shrine, Hyūga)　日向宮崎神宮">
            <%= image_tag("prints/9.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/10.gif") %> data-lightbox="set" data-title="Yamato Niukawakami jingū (Niukawakami Shrine in Yamato)　大和丹生川上神社">
            <%= image_tag("prints/10.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/11.gif") %> data-lightbox="set" data-title="Kishū Kameyama-miya fukin (The Neighborhood of Kameyama Shrine, Kishū)　紀州亀山付近">
            <%= image_tag("prints/11.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/12.gif") %> data-lightbox="set" data-title="Kishū Nichizengū (Nichizen Shrine, Kishū)　紀州日前宮">
            <%= image_tag("prints/12.gif", :class => "img-responsive") %>
        </a>
    </div>
</div>
<!-- /.row -->